*migrations
db.sqlite3
manage.py
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
media/
staticfiles/
.vscode/*
!.vscode/settings.json
bootcamp/asgi.py
bootcamp/settings.py 
bootcamp/wsgi.py 
bootcamp/__init__.py
bootcamp/__pycache__
backend/__init__.py
